@page
@model CIDM3312FinalProject1.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of games</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameName)
            </th>
            <th>
                @{
                    var firstsort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstsort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstsort"> @Html.DisplayNameFor(model => model.Game[0].GameGenre) </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GamePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>*** See details for availability ***</p>
